.studio-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.studio-layout__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .studio-layout__body {
    flex-direction: column-reverse;
  }
}
