/* Import fonts from Bunny Fonts (privacy-friendly CDN) */
@import url('https://fonts.bunny.net/css?family=space-grotesk:400,500,600,700|ibm-plex-sans-condensed:400,500,600,700|space-mono:400,700|podkova:400,500,600,700');

:root,
.wa-light,
.wa-dark .wa-invert {
  /* brand theme */
  --wa-font-family-body: 'Space Grotesk', sans-serif;
  --wa-font-family-heading: 'IBM Plex Sans Condensed', sans-serif;
  --wa-font-family-code: 'Space Mono', monospace;
  --wa-font-family-longform: Podkova, serif;
  --wa-font-weight-body: 400;
  --wa-font-weight-heading: 500;
  --wa-font-weight-code: 400;
  --wa-font-weight-longform: 400;
  --wa-border-radius-scale: 1.5;
  --wa-border-width-scale: 4;

  --wa-color-brand-05: #16003e;
  --wa-color-brand-10: #210e4e;
  --wa-color-brand-20: #362868;
  --wa-color-brand-30: #473b7e;
  --wa-color-brand-40: #5a4f93;
  --wa-color-brand-50: #766cb3;
  --wa-color-brand-60: #968dd7;
  --wa-color-brand-70: #afa6f2;
  --wa-color-brand-80: #c8bfff;
  --wa-color-brand-90: #e4e0ff;
  --wa-color-brand-95: #f2f0ff;
  --wa-color-brand: #afa6f2;
  --wa-color-brand-on: #210e4e;

  /* shadow */
  --wa-color-shadow: var(--wa-color-gray-05);
  --wa-shadow-offset-x-s: calc(var(--wa-space-s) * -1);
  --wa-shadow-offset-y-s: var(--wa-space-s);
  --wa-shadow-offset-x-m: calc(var(--wa-space-m) * -1);
  --wa-shadow-offset-y-m: var(--wa-space-m);

  /* Dotted shadow small */
  --kui-dotted-shadow-transform-s: translate(
    var(--wa-shadow-offset-x-s),
    var(--wa-shadow-offset-y-s)
  );
  --kui-dotted-shadow-bg-s: radial-gradient(
      circle,
      var(--wa-color-shadow) 0.5px,
      transparent 0.5px
    ),
    radial-gradient(circle, var(--wa-color-shadow) 0.5px, transparent 0.5px);
  --kui-dotted-shadow-size-s: var(--wa-space-2xs) var(--wa-space-3xs),
    var(--wa-space-2xs) var(--wa-space-3xs);
  --kui-dotted-shadow-position-s: 0 0, var(--wa-space-3xs) 1px;

  /* Dotted shadow medium */
  --kui-dotted-shadow-transform-m: translate(
    var(--wa-shadow-offset-x-m),
    var(--wa-shadow-offset-y-m)
  );
  --kui-dotted-shadow-bg-m: radial-gradient(
      circle,
      var(--wa-color-shadow) 0.5px,
      transparent 0.5px
    ),
    radial-gradient(circle, var(--wa-color-shadow) 0.5px, transparent 0.5px);
  --kui-dotted-shadow-size-m: var(--wa-space-2xs) var(--wa-space-3xs),
    var(--wa-space-2xs) var(--wa-space-3xs);
  --kui-dotted-shadow-position-m: 0 0, var(--wa-space-3xs) 1px;

  /* Apply to elements */
  wa-card,
  wa-select::part(listbox) {
    position: relative;
    box-shadow: none;
  }
  wa-card::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: var(--kui-dotted-shadow-transform-s);
    background-image: var(--kui-dotted-shadow-bg-s);
    background-size: var(--kui-dotted-shadow-size-s);
    background-position: var(--kui-dotted-shadow-position-s);
    z-index: -1;
    border-radius: inherit;
  }

  /* form controls */
  wa-input::part(base),
  wa-select::part(combobox) {
    border-width: var(--wa-form-control-border-width)
      var(--wa-form-control-border-width);
  }

  wa-select::part(listbox) {
    margin-top: 1px;
    overflow: initial;
  }
  wa-select::part(listbox)::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: var(--kui-dotted-shadow-transform-m);
    background-image: var(--kui-dotted-shadow-bg-m);
    background-size: var(--kui-dotted-shadow-size-m);
    background-position: var(--kui-dotted-shadow-position-m);
    z-index: -1;
    border-radius: inherit;
  }
}
