# Web Awesome Pro Registry Configuration
# This file configures npm to use the Web Awesome Pro registry
#
# The @awesome.me scope is configured to use the Cloudsmith registry
@awesome.me:registry=https://npm.cloudsmith.io/fortawesome/webawesome-pro/

# Authentication is loaded from the WEBAWESOME_NPM_TOKEN environment variable
# Make sure WEBAWESOME_NPM_TOKEN is set in your .env file before installing
//npm.cloudsmith.io/fortawesome/webawesome-pro/:_authToken=${WEBAWESOME_NPM_TOKEN}
