.banner {
  padding: 0;
  padding-block: var(--wa-space-2xs);
  padding-inline: var(--wa-space-l);
  background: radial-gradient(
    circle at center,
    var(--wa-color-brand-fill-quiet),
    var(--wa-color-brand-fill-normal)
  );
}
