[slot='header'] {
  padding: 0;
  border-bottom: var(--wa-border-width-s) solid var(--wa-color-surface-border);
}

[slot='header'] .Header__content {
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--wa-space-4xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
