.header {
  padding-block: var(--wa-space-2xs);
  padding-inline: var(--wa-space-l);
  border-bottom: var(--wa-border-width-s) solid var(--wa-color-surface-border);

  display: flex;
  justify-content: center;

  & .logo {
    @media (min-width: 768px) {
      padding-inline: var(--wa-space-3xl);
    }
    max-width: 1280px;
    width: 100%;
  }

  & .brand-text {
    font-weight: 800;
  }
}
