# Web Awesome Pro private registry
@awesome.me:registry=https://npm.cloudsmith.io/fortawesome/webawesome-pro/

# Authentication token from environment variable
//npm.cloudsmith.io/fortawesome/webawesome-pro/:_authToken=${WEBAWESOME_NPM_TOKEN}
