/* .editor-section {
  border-bottom: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
} */

.editor-section__content {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-m);
  padding: var(--wa-space-s) 0;
}

.editor-section__properties {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-m);
}

.editor-section__actions {
  display: flex;
  justify-content: flex-end;
}
